<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="css/table.css"  th:href="@{/css/table.css}">    <!--链接css文件-->
</head>
<body>
<form onsubmit="return editList();" th:action="@{'/edit/post/' + ${currentID}}" method="post" th:object="${user}">
<!--    修改联系人信息表格-->
    <table border="3" align="center" style="border-collapse: collapse;" id = "modifyTable">
        <caption style="font-size: 20px;"><b>修改联系人信息</b></caption>
        <tr>
            <th>姓名</th>
            <td><input type="text" name="" class="form-control" id="username" th:field="*{name}"/></td>
        </tr>
        <tr>
            <th>电话</th>
            <td><input type="text" name="" class="form-control" id="telephone" th:field="*{telephone}"/></td>
        </tr>
        <tr>
            <th>邮箱</th>
            <td><input type="text" name="" class="form-control" id="mailbox" th:field="*{email}"/></td>
        </tr>
        <tr>
            <th>住址</th>
            <td><input type="text" name="" class="form-control" id="address" th:field="*{address}"/></td>
        </tr>
        <tr>
            <th>QQ</th>
            <td><input type="text" name="" class="form-control" id="QQnumber" th:field="*{qq}"/></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <!-- 重置和保存按钮 -->
                <input type="reset" value="重置" class="button" id="reset" />
                <input type="submit" value="保存" class="button" id="update" />
            </td>
        </tr>
    </table>
</form>

<script>
    /* 编辑 */
    function editList() {
        var oUser = document.getElementById('username').value;
        var oTel = document.getElementById('telephone').value;
        var oMail = document.getElementById('mailbox').value;
        var oAdd = document.getElementById('address').value;
        var oQQ = document.getElementById('QQnumber').value;

        //判断是否有非法输入
        // 以下按步骤进行检测，防止一次性太多警告窗口
        if (! checkName(oUser)) {
            return false;
        }
        else if (! checkTel(oTel)) {
            return false;
        }
        else if (! checkEmail(oMail)) {
            return false;
        }
        else if (! checkAddress(oAdd)) {
            return false;
        }
        else if (! checkQQ(oQQ)) {
            return false;
        }

        // 全部正确则更新成功
        alert("更新成功！");
        return true
    }

    //获取文本框,注册失去焦点的事件
    function checkName(str) {
        // 姓名不能为空
        if (str.length == 0) {
            alert("姓名不能为空！");
            return false;
        }
        return true;
    }
    function checkTel(str) {
        // 判断文本框输入的是否为电话号码
        var telReg=/^[0-9]/;
        if (str.length == 0) {
            alert("电话不能为空！");
            return false;
        }
        else if (str.length != 11 || telReg.test(str) == false) {
            alert("请输入正确电话号码！");
            return false;
        }
        return true;
    }
    function checkEmail(str) {
        // 判断这个文本框中输入的是不是邮箱
        var mailReg=/^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;
        if (str.length == 0) {
            alert("邮箱不能为空！");
            return false;
        }
        else if(mailReg.test(str) == false) {
            alert("邮箱格式错误！");
            return false;
        }
        return true;
    }
    function checkAddress(str) {
        // 判断地址是否空
        if (str.length == 0) {
            alert("地址不能为空！");
            return false;
        }
        return true;
    }
    function checkQQ(str) {
        // 判断文本框中输入的是否为正确的QQ号
        var telReg=/^[0-9]/;
        if (str.length == 0) {
            alert("QQ号不能为空！");
            return false;
        }
        if (telReg.test(str) == false) {
            alert("请输入正确的QQ号！");
            return false;
        }
        return true;
    }
</script>
</body>
</html>
</body>
</html>